{% macro displaySources(sources_list)%}
    {% for source in sources_list %}
    <ul>
        <a href=/sources/articles/"{{source.id}}">{{source.name}}</a>
        {{source.description}}
        
    </ul>
    {% endfor %}
{% endmacro %}

{% macro displayArticles(articles_list)%}
    {% for article in articles_list %}
    <h1>{{article.author}}</h1>
    <br>
    <p>{{article.description}}</p>
    <div class="container">
    <img src="{{article.urlToImage}}">
    </div>

    {% endfor %}
{% endmacro %}


