{% macro displaySources(sources_list)%}
    {% for source in sources_list %}
    <ul>
        <a href=/sources/articles/"{{source.id}}">{{source.name}}</a>
        {{source.description}}
        
    </ul>
    {% endfor %}
{% endmacro %}

{% macro displayArticles(articles_list)%}
<center><h1>Top Headlines</h1></center>
    {% for article in articles_list %}
    
    <h2>{{article.author}}</h2>
    <br>
    <a href=/sources/articles/fullarticle/"{{article.description}}">click to read full article</a>
    <div class="container">
    <img src="{{article.urlToImage}}">
    </div>
    <small><strong>publishedat</strong></span>{{article.publishedAt}}</small> <small><strong>published by</strong></span>{{article.author}}</small>
    

    {% endfor %}
{% endmacro %}


